*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main{
    padding: 20px;
}

header{
    width: 100%;
    height: 80px;
    background: #f1bd4a;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    background: #313644;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #313644;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover{
    color: white;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

a.selected{
    color: #fff;
}

.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

/*Clases para usar en JavaScript*/

.body_move{
    margin-left: 250px;
}

.menu__side_move{
    width: 250px;
}
.container-register{
    width: 40%;
}
.card-register{
    width: 100%;
    border: 1px solid #e6ecf5;
}
.card-title-register{
    padding: 4%;
    background-color: #f1bd4a;
    color: #fff;
    font-size: 18px;
}
.card-form-register{
    width: 100%;
    font-size: 16px;
}
.form-group-register{
    display: flex;
    padding: 4% 0% 2% 2%;
    width: 96%;
}
.form-label{
    color: #888da8;
    width: 35%;
    padding: 2%;
}
.form-input-container{
    width: 65%;
}
.form-input{
    width: 100%;
    border: 1px solid #e6ecf5;
    height: 100%;
    padding: 5%;
    font-size: 14px;
}
.button-container{
    width: 96%;
    text-align: right;
    margin-top: 4%;
}
.button-submit{
    background-color: #d7384a;
    border-color: #d7384a;
    color: #fff;
    padding: 2%;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
.button-submit:hover{
    background-color: #d63e50;
    color: #ecf0f1;
}
.container-usuario{
    width: 80%;
}
.card-usuario{
    width: 100%;
    border: 1px solid #e6ecf5;
}
.card-title-usuario{
    padding: 4%;
    background-color: #f1bd4a;
    color: #fff;
    font-size: 18px;
}
.form-input-search-usuario{
    width: 70%;
    display: flex;
    margin: 2% 2% 0% 2%;
    border: 1px solid #e6ecf5;
    padding: 2%;
}
.form-input-search-usuario img{
    width: 5%;
}
.form-input-search-usuario input{
    width: 95%;
    padding-left: 2%;
    border: none;
}
.form-input-search-usuario input:focus{
    outline: none;
}
.card-table-usuario{
    width: 100%;
    padding: 2% 2% 4% 2%;
}
.card-table-usuario-head{
    width: 96%;
    border: 1px solid #e6ecf5;
    display: flex;
    margin: 2% 2% 0% 2%;
    padding: 1%;
    font-size: 14px;
}
.usuario-i{
    width: 5%;
}
.usuario-name{
    width: 25%;
}
.usuario-email{
    width: 35%;
}
.usuario-dni{
    width: 10%;
}
.usuario-estado{
    width: 10%;
}
.usuario-acciones{
    width: 15%;
}
.card-table-usuario-body{
    width: 96%;
    border: 1px solid #e6ecf5;
    border-top: none;
    display: flex;
    margin: 0% 2%;
    padding: 0% 1% 0% 1%;
    padding: 1%;
    font-size: 14px;
}
@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
}